<form method="post">
    <label>Автор:</label><br />
    <input type="text" name="author"/><br /><br />
    <label>Название:</label><br />
    <input type="text" name="name"/><br /><br />
    <input type="submit" value="Сохранить" />
</form>