<form method="post">
    <label>Имя:</label><br />
    <input type="text" name="name" /><br /><br />
    <label>Фамилия:</label><br />
    <input type="text" name="surname" /><br /><br />
    <input type="submit" value="Сохранить" />
</form>
